/* -------------------------------
	VARIABLES
------------------------------- */

// colours
$admin: #CA5C5C;

/* -------------------------------
	IMPORTING
------------------------------- */
@import '../semanticui/components/site';
@import '../semanticui/components/reset';
@import '../semanticui/components/transition';

// opt
@import '../semanticui/components/button';
@import '../semanticui/components/checkbox';
@import '../semanticui/components/dropdown';
@import '../semanticui/components/form';
@import '../semanticui/components/icon';
@import '../semanticui/components/segment';

/* -------------------------------
	BASE
------------------------------- */

body {
	background: #fff;
	color: #888;
}

// links
a {
	border-bottom: 1px dotted #aaa;
	color: #444;

	&:hover {
		color: #000;
	}
}

/* -------------------------------
	LAYOUT
------------------------------- */

// header
header {
	padding: 1em 0;
	border-bottom: 3px solid #eee;
	overflow: hidden;
}

// main
main {
	padding: 3em 0;
	overflow: hidden;

	section:not(:last-of-type) {
		margin-bottom: 2em;
	}


	&.container {
		padding: 3em .5em;
	}
}

.container {
	max-width: 960px;
	margin: auto;
	padding: 0 .5em;
}

// footer
footer {

	padding: 1em 0;
	border-top: 1px solid #eee;

	small {
		display: block;
		font-size: .8em;
		text-align: right;
	}
}

/* -------------------------------
	MODULES
------------------------------- */
.centred_form {

	max-width: 500px;

	h2 { 
		text-align: center;
	}

	ul {
		list-style: none;
		padding: 0;

		li {
			span {
				padding: .1em .6em;
				float: right;
				background: #fff;
				color: #666;
				font-size: .9em;
				font-weight: normal;
			}
			a {
				padding: 1em;
				margin: 1em 0;
				border: 4px solid #777;
				display: block;
				background: #777;
				color: #fff;
				font-weight: bold;

				&:hover {
					background: #fff;
					color: #666;
				}
			}

		}

		.admin a {
			border: 4px solid $admin;
			background: $admin;

			&:hover {
				border-color: $admin;
				background: #fff;
			}
		}
	}
}

// alerts
.alert {
	padding: .5em;
	margin: 1em 0;
	display: block;
	width: 100%;
	text-align: center;
	border: 1px solid #eee;
}

.info {
	@extend .alert;
	background: #f8ffff;
	color: #276f86;
}

.error {
	@extend .alert;
	background: #fff6f6;
	color: #912d2b;
}

.success {
	@extend .alert;
	background: #fcfff5;
	color: #2c662d;
}

// tables
table {
	width: 100%;
	margin-bottom: 3em;

	thead {
		background: #eee;
		border-bottom: 2px solid #ddd;
		text-transform: uppercase;

		th {
			padding: .8em;
			text-align: left;
			font-size: .8em;
		}
	}

	tbody {
		border-bottom: 3px solid #eee;

		&.links tr {
			cursor: pointer;

			&:hover {
				background: #eeffff;
				color: #999;
			}
		}

		td {
			padding: .5em;
			border-right: 1px solid #eee;
		}

		td:last-of-type {
			border-right: none;
		}
	}

	tfoot td {
		padding: .5em;
	}
}

.note {
	text-align: right;
	font-size: .7em;
}

// formularz - powierzchnia
#study_add {
	.secondary {
		display: none;
	}
}



form {
	fieldset {
		border: none;
		padding: 0;
		margin-bottom: 1em;
	}
}

// informacje o doświadczeniu
#study_info {
	article {
		display: flex;
		padding-top: 1em;

		aside {
			width: 100%;
			padding-right: 2em;
			border-right: 1px solid #eee;
		}

		div {
			width: 100%;
			padding-left: 2em;
		}
	}
}

#resources {
	margin-bottom: 2em;

	article {
		display: none;
		overflow: hidden;

		form {
			width: 30%;
			float: left;
			overflow: hidden;
			border-right: 3px dashed #eee;
			margin-right: 2em;
			padding-right: 2em;
		}
	}
}